DISCORD_TOKEN=your_bot_token_here
APPLICATION_ID=1483223712093442308
INVITE_URL=https://discord.gg/p3dsJTUxY7

# Опционально: для мгновенной синхронизации команд на конкретном сервере при разработке
# DEV_GUILD_ID=your_guild_id_here
